body {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

h1 {
    color: rgb(228, 218, 252);
    background-color: rgba(51, 216, 245, 0.295);
}

h2 {
    color: rgb(228, 218, 252);
    background-color: rgba(51, 216, 245, 0.295);
    font-size: 1.3em;
}