@charset "UTF-8";

* {
    font-family: 'Courier New', Courier, monospace;
    /* height: 100%; */
}

body {
    background-image: linear-gradient(to bottom, #5F86FA, #5654DE, #9169F5, #A154DE, #E05FFA);
}
main {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(68, 68, 68, 0.63);
    width: 600px;
    padding: 10px;
    margin: auto;
}

p {
    text-align: justify;

}

h1 {
 color: #5B72EF;
 text-align: center;
 text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

h2 {
    color: #9B73EB;
}